.acc {
  margin-bottom: 0px;
  padding-right: 50px;
  margin-left: 15px;
}

.flex {
  display: flex;
  margin-top: 10px;
  align-items: center;
  column-gap: 20px;
}

.flex p {
  width: 33%;
  text-align: left;
}

.flex button {
  position: relative;
  width: 90px;
  line-height: 25px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: transparent;
  text-align: center;
  color: black;
  font-size: 12px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.3s ease-in;
  cursor: pointer;
}
.flex button:hover {
  background-color: black;
  color: #fff;
}

.pointer {
  cursor: pointer;
}
